.container {
    position: relative;
    padding-left: 215px;
}
.app-nav {
    width: 250px;
    position: fixed;
    float: left;
    top: 0;
    margin-top: 15px;
    li {
        &.nested {
            padding-left: 20px;
        }
        a {
            padding: 3px 10px;
            color: #777;
            font-size: 16px;
        }
    }
}

.docs {
    width: 70%;
    float: right;
    h3 {
        font-weight: bold;
        margin-top: 50px;
        margin-bottom: 25px;
        a {
            color: #333;
        }
    }

    p {
        color: #333;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 25px;
    }

    table {
        line-height: 24px;
        font-size: 16px;
        color: #333;
    }
}

.example {
    .form-builder-context {
        min-height: 300px;
        padding-left: 200px;
        position: relative;
        .form-builder {
            width: 100%;
            float: right;
            box-shadow: 0px 6px 12px rgba(100, 100, 100, 0.2);
            border-radius: 4px;
            border: 1px solid #ccc;
            .form-builder-droppable {
                padding: 10px;
                position: relative;
            }
            .form-builder-droppable-indicator {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 2px;
                background: deepskyblue;
            }
        }
        .field-selector {
            background: #FFF;
            box-shadow: 0px 6px 12px rgba(100, 100, 100, 0.2);
            border: 1px solid #ccc;
            padding: 15px;
            width: 185px;
            position: absolute;
            left: 0;
            .field-selector-option {
                padding: 10px;
                border: 1px dashed #ccc;
                width: 100%;
                border-radius: 4px;
                margin-bottom: 5px;
            }
        }
    }
}

 .modal-container {
   position: relative;
 }
 .modal-container .modal, .modal-container .modal-backdrop {
   position: absolute;
 }